/* Documento CSS do Projeto DevClub - Aula 01 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0038a1;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    
}

p {
    color: #666;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;

}
